:root{
    --deepblue:#0A1728;
    --blueturquoise:#00879E;
    --neongreen:#1BD964;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    background-color: var(--deepblue);
    position: fixed;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    font-family:'Poppins', sans-serif;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--neongreen);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.nav-link:hover{
    color: var(--neongreen);
}

.btn-contato{
    padding: .9rem 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: var(--blueturquoise);
}

.btn-contato:hover{
    background-color: #fff;
    color: var(--blueturquoise);
}

/*Começo Home*/

.hero{
    padding: 150px 0 50px;
    text-align: center;
    background-color: var(--deepblue);
}

.txt-block p{
    font: 1rem 'Poppins', sans-serif;
    color: #fff;
}

.txt-block h1{
    font: 2rem 'Poppins', sans-serif;
    color: var(--blueturquoise);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
}

.txt-block button{
    margin: 30px 0;
    padding: 12px 24px;
    border-radius: 5px;
    background-color: var(--blueturquoise);
    color: #fff;
    font: 1rem 'Nunito', sans-serif;
}

.img-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    padding: 50px 0;
    text-align: center;
    background-color: var(--blueturquoise);
}

.txt-block-w p{
    font: 1rem 'Poppins', sans-serif;
    color: #fff;
    font-weight: 500;
}

.txt-block-w hr{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #1BD964;
    height: 2px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-block-w h1{
    font: 1.375rem 'Poppins', sans-serif;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
}

.txt-block-w h2{
    font: .875rem 'Nunito', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.txt-block-w button{
    margin: 30px 0;
    padding: 12px 24px;
    border-radius: 5px;
    background-color: var(--neongreen);
    color: #fff;
    font: 1rem 'Nunito', sans-serif;
}

.img-block-w{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-block-w img{
    border-radius: 20px;
    border: 3px solid #1BD964;
}

.txt-block-s h1{
    font: 1.375rem 'Poppins', sans-serif;
    color: var(--deepblue);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 25px;
}

.txt-block-s hr{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border: none;
    background-color: #1BD964;
    height: 2px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    padding-bottom: 25px;
}

.cartao{
    background-color: var(--blueturquoise);
    border-radius: 15px;
    margin: 50px 25px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartao h4{
    font: 20px 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
    margin-top: 25px;
}

.cartao p{
    font: 14px 'Nunito', sans-serif;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    line-height: 25.6px;
}

.fa-circle-right{
    color: #fff;
    font-size: 25px;
    margin-top: 25px;
}

.card-contact{
    background-color: var(--blueturquoise);
    padding: 75px 0;
}

.cartao-contact{
    background-color: var(--deepblue);
    margin: 0 25px;
    padding: 25px 30px;
    text-align: center;
    border-radius: 15px;
}

.cartao-contact h3{
    font: 22px 'Poppins', sans-serif;
    color: #fff;
}

.cartao-contact p{
    font: 16px 'Nunito', sans-serif;
    color: #fff;
    margin-top: 15px;
}

.cartao-contact button{
    background-color: var(--neongreen);
    font: 16px 'Poppins', sans-serif;
    color: var(--deepblue);
    margin-top: 35px;
    padding: 12px 24px;
    border-radius: 3px;
}

/*Fim Home*/

/*Começo Sobre*/

.hero-s{
    padding: 120px 0 50px;
    text-align: center;
    background-color: var(--deepblue);
    color:#fff;
}

.hero-s h1{
    font: 2rem 'Poppins', sans-serif;
    font-weight: 500;
}

.hero-s hr{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border: none;
    background-color: #1BD964;
    height: 2px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-s{
    padding: 60px 0;
}

.img-block-s{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-block-s img{
    border-radius: 20px;
}

.txt-block-about{
    font: 14px 'Nunito', sans-serif;
    padding: 20px;
    color: #334155;
}

.txt-block-about h3{
    color: #000;
    font: 18px 'Poppins', sans-serif;
    font-weight: 500;
}

.descricao{
    padding-bottom: 50px;
}

.txt-block-descricao{
    background-color: #f5f5f5;
    padding: 50px 0;
}

.txt-block-descricao h3{
    font: 2rem 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
}

.txt-block-descricao p{
    font: 14px 'Nunito', sans-serif;
    padding: 0 20px;
    color: #334155;
}

.txt-block-descricao hr{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border: none;
    background-color: var(--blueturquoise);
    height: 2px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-block-descricao h4{
    font: 14px 'Nunito', sans-serif;
    text-align: center;
    font-weight: 600;
    padding: 20px 0;
}

.img-gestao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 0 0 50px;
}

.img-gestao img{
    border-radius: 15px;
}

.missao{
    background-color: #fff;
    padding: 50px 0;
}

.img-missao{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 50px;
}

.img-missao img{
    border-radius: 15px;
}

.txt-block-missao h3{
    font: 2rem 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
}

.txt-block-missao p{
    font: 14px 'Nunito', sans-serif;
    padding: 0 20px;
    color: #334155;
}

.txt-block-missao hr{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border: none;
    background-color: var(--blueturquoise);
    height: 2px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-block-visao{
    background-color: #f5f5f5;
    padding: 50px 0;
}

.txt-block-visao h3{
    font: 2rem 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
}

.txt-block-visao hr{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border: none;
    background-color: var(--blueturquoise);
    height: 2px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-block-visao p{
    font: 14px 'Nunito', sans-serif;
    padding: 0 20px;
    color: #334155;
}

.valores{
    padding: 0 0 50px;
}

.txt-block-valores{
    background-color: #fff;
    padding: 50px 0;
}

.txt-block-valores h3{
    font: 2rem 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
}

.txt-block-valores hr{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border: none;
    background-color: var(--blueturquoise);
    height: 2px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-block-valores p, .txt-block-valores-2 p{
    font: 14px 'Nunito', sans-serif;
    padding: 0 20px;
    color: #334155;
}

.card-turquoise{
    background-color: var(--blueturquoise);
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-turquoise h1{
    font: 2rem 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
    color: #fff;
}

.card-turquoise hr{
    margin: 25px auto;
    border: none;
    background-color: var(--deepblue);
    height: 2px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-turquoise p{
    font: 14px 'Nunito', sans-serif;
    padding: 0 20px;
    text-align: center;
    color: #fff;
}

.card-turquoise button{
    background-color: var(--neongreen);
    color: var(--deepblue);
    font: 16px 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
}

/*Fim Sobre*/

/* Começo Serviços*/

.servicos-cards{
    padding: 60px 0;
}

.cards-links{
    background-color: var(--blueturquoise);
    text-align: center;
    margin: 20px 50px;
    padding: 25px 0;
    border-radius: 15px;
}

.cards-links picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-links p{
    font: 1rem 'Poppins', sans-serif;
    color: #fff;
    margin-top: 15px;
}

.suporte h2{
    font: 1.75rem 'Poppins', sans-serif;
    color: var(--deepblue);
    font-weight: 600;
    text-align: center;
}

.suporte img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    border-radius: 15px;
}

.suporte h3{
    font: 1.375rem 'Poppins', sans-serif;
    color: var(--deepblue);
    font-weight: 600;
    text-align: center;
}

.suporte p{
    font: 14px 'Nunito', sans-serif;
    padding: 20px;
    color: #334155;
}

.acordeon{
    margin: 25px auto;
    text-align: center;
}

/*Fim Serviços*/

/*Começo do contato*/

.cards-contato{
    background: linear-gradient(150deg, rgba(0,135,158,1) 15%, rgba(27,217,100,1) 100%);
    text-align: center;
    margin: 50px 20px;
    padding: 30px 0;
    border-radius: 15px;
}

.fa-location-dot, .fa-envelope, .fa-phone-flip{
    font-size: 3rem;
    color: #fff;
}

.cards-contato h4, .cards-contato-s h4{
    font: 22px 'Poppins', sans-serif;
    color: #fff;
    padding-top: 20px;
}

.cards-contato p, .cards-contato-s p{
    font: 16px 'Nunito', sans-serif;
    color: #fff;
}

.cards-contato-s{
    background: linear-gradient(150deg, rgba(36,74,124,1) 15%, rgba(1,3,5,1) 100%);
    text-align: center;
    margin: 50px 20px;
    padding: 30px 0;
    border-radius: 15px;
}

#contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#contato form{
    background-color: var(--blueturquoise);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
}

#contato input{
    margin-top: 10px;
    font: 1rem 'Nunito', sans-serif;
    text-align: center;
}

#contato textarea{
    resize: none;
    margin-top: 10px;
    padding: 15px;
    text-align: center;
}

#botao-form{
    padding: 5px;
}

/*Fim do contato*/

/*Começo botão de Retorno*/

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 50px;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--neongreen);
    text-decoration: none;
}
.btn::after {
    content: "^";
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}
.btn:hover::after {
    margin-top:-8px;
}

/*Fim Botão de Retorno*/

footer{
    background-color: var(--deepblue);
    padding: 50px 0;
    text-align: center;
}

.fa-square-facebook, .fa-square-instagram{
    color: #fff;
    font-size: 20px;
    display: inline-block;
}

.img-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

footer h6{
    font: 20px 'Nunito', sans-serif;
    color: #fff;
}

footer p{
    font: 16px 'Nunito', sans-serif;
    color: #fff;
    padding-top: 20px;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--deepblue);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    
    .nav-menu.active {
        left: 0;
    }
    
    .nav-item {
        margin: 2.5rem 0;
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}



@media only screen and (min-width: 769px) {

    .hero-s h1{
        font-size: 48px;
        font-weight: 600;
    }

    /*Home*/
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .txt-block{
        margin-right: 50px;
    }

    .txt-block h1{
        font-size: 2.5rem;
        width: 400px;
    }

    .welcome{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .txt-block-w{
        width: 550px;
        margin-right: 50px;
    }

    .txt-block-w p{
        font-size: 20px;
        text-align: left;
        padding-left: 55px;
    }

    .txt-block-w hr{
        margin-top: 25px;
        margin-left: auto;
        margin-right: 400px;
        border: none;
        background-color: #1BD964;
        height: 2px;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .txt-block-w h1{
        font-size: 36px;
        text-align: left;
        padding: 30px 55px;
    }

    .txt-block-w h2{
        font-size: 1rem;
        text-align: left;
    }

    .txt-block-w button{
        text-align: left;
    }

    .txt-block-s h1{
        font-size: 42px;
    }

    .txt-block-s hr{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        border: none;
        background-color: #1BD964;
        height: 2px;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cards{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .cartao p{
        font-size: 16px;
        width: 255px;
    }

    .cartao-contact{
        margin: 0 120px;
    }

    .cartao-contact h3{
        font-size: 36px;
        font-weight: 600;
    }

    .cartao-contact button{
        padding: 15px 30px;
        font-weight: 600;
    }
    
    /*Fim Home*/

    /*Começo Sobre*/

    .about-s{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-block-s{
        width: 550px;
    }

    .txt-block-about{
        width: 570px;
    }

    .txt-block-about p{
        font-size: 16px;
    }

    .descricao{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px;
        background-color: #f5f5f5;
    }

    .txt-block-descricao{
        width: 550px;
    }

    .txt-block-descricao h3{
        font-size: 50px;
    }

    .txt-block-descricao p, .txt-block-descricao h4{
        font-size: 16px;
    }

    .missao{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px;
    }

    .txt-block-missao{
        width: 550px;
    }

    .txt-block-missao h3{
        font-size: 50px;
    }

    .txt-block-missao p{
        font-size: 16px;
    }

    .visao{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #f5f5f5;
    }

    .txt-block-visao{
        width: 570px;
    }

    .txt-block-visao h3{
        font-size: 50px;
    }

    .txt-block-visao p{
        font-size: 16px;
    }

    #branco{
        width: 570px;
    }

    .valores{
        display: flex;
        justify-content: space-evenly;
    }

    .txt-block-valores h3{
        font-size: 50px;
    }

    .txt-block-valores p, .txt-block-valores-2 p{
        width: 570px;
        font-size: 16px;
    }

    .txt-block-valores-2{
        padding: 150px 0 ;
    }

    .card-turquoise h1{
        font-size: 40px;
    }

    .card-turquoise hr{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        border: none;
        background-color: var(--deepblue);
        height: 2px;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-turquoise p{
        font-size: 20px;
        width: 575px;
        text-align: left;
    }
    /*Fim Sobre*/

    /*Começo Serviços*/

    .servicos-cards{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cards-links{
        width: 285px;
    }

    .cards-links p{
        font-size: 20px;
        font-weight: 500;
    }

    .suporte h2{
        font-size: 42px;
        text-align: left;
    }

    .suporte picture{
        display: none;
    }

    .suporte h3{
        text-align: left;
        font-size: 36px;
    }

    .suporte p{
        width: 670px;
        font-size: 1rem;
        padding: 20px 20px 20px 0;
    }

    .acordeon{
        text-align: left;
    }

    .descricao-servicos{
        padding-left: 100px;
    }

    /*Fim Serviços*/

    /*Começo Contato*/

    .contato-cards{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .cards-contato, .cards-contato-s{
        width: 370px;
    }

    #contato form{
        width: 500px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #contato input, #contato textarea{
        width: 400px;
        margin: 25px;
    }

    #contato input{
        height: 45px;
    }

    #contato textarea{
        height: 135px;
    }

    /*Fim Contato*/

}